[submodule "deploy/lib/createjs-support"]
	path = deploy/lib/createjs-support
	url = git@github.com:alumican/createjs-support.git
[submodule "deploy/lib/command"]
	path = deploy/lib/command
	url = git@github.com:alumican/Command.js.git
