Icon
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
*.swp
*~.nib
*.webloc

### Application ###
*.apk
*.ipa
*.app
*.exe


### FlashBuilder ###
bin/
bin-debug/
bin-release/
bin-release-tmp/
bin-release-temp/


### Node.js ###
node_modules/


### Project ###
src/fla/
src/image/
src/script/**/*.js
src/sound/
src/style/**/*.css
log/